<main>
    <h2>Add new flight</h2>
    <form method="post">
        <label>Destination:</label>
        <input name="Destination" type="text" placeholder="Destination">
        <label>Origin:</label>
        <input name="Origin" type="text" placeholder="Origin">
        <label>Date:</label>
        <input name="Date" type="datetime-local">
        <label>Image:</label>
        <input name="ImageUrl" type="text" placeholder="Url">
        <input type="submit" class="create" value="Create">
    </form>
    <footer>SoftUni Airlines</footer>
</main>