
<main>
    <form action="" class="catalog-form">
        <label>Destination:</label>
        <input type="text" placeholder="Destination">
        <label>Origin:</label>
        <input type="text" placeholder="Origin">
        <label>Departure:</label>
        <input type="text" placeholder="Departure">
        <input type="submit" class="search" value="Search">

        {{{addFlightButton}}}

    </form>

    <section class="added-flights">
        {{{flights}}}
    </section>
    <footer>SoftUni Airlines</footer>
</main>