<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-6">
                <div class="text-center">
                    <h1 class="display-3">Delete Contest</h1>
                </div>
                <hr />


                    <div class="form-group row">
                        <label class="col-form-label" for="contestName"><strong>Contest Name</strong></label>
                        <input name="contestName" type="text" class="form-control" value="{{{contestName}}}" id="contestName" readonly />
                    </div>

                <a type="post" href="/contests/ConfirmDelete?contestId={{{contestId}}}" class="btn col btn-outline-danger">Delete</a>
                <a href="/contests/index" class="btn col btn-outline-primary">Back</a>
                <br />
            </div>
        </div>
    </div>
</main>
        
