<main>
    <h2>Create your accout:</h2>
    <form method="post">
        <label>Name:</label>
        <input name="Name" type="text" placeholder="Name" >
        <label>Email:</label>
        <input name="Email" type="email" placeholder="Email">
        <label>Password:</label>
        <input name="Password" type="password" placeholder="Password">
        <label>Repeat Password:</label>
        <input name="RepeatPassword" type="password" placeholder="Repeat Password">
        <input type="submit" class="register" value="Register">        
    </form>
    <footer>SoftUni Airlines</footer>
</main>
